<jam-window borderRadius="7px">

	<div content-template
		class="content stretch flex-vertical flex-start-center">

		<div bgColor="accent" class="profile-background screen stretch-horizontally"></div>

		<button mat-icon-button class="profile-picture-button">
			<mat-icon class="jumbo-icon"
				color="primary">
				account_circle
			</mat-icon>
		</button>

		<div class="name"> {{ ( user | async )?.displayName || 'Update your name' }} </div>

		<button mat-button color="warn"
			class="sign-out-button"
			(click)="signOut()">
			Sign Out
		</button>

	</div>

</jam-window>
