:host {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba( 247, 250, 255, 0.8 );
}

header {
	box-sizing: border-box;
	padding: 50px;
	flex-basis: 300px;
	/* background-color: blanchedalmond; */
	color: white;
}

.profile {
	align-self: flex-end;
}

.sign-in-button, .sign-out-button {
	color: white;
}

.title {
	font-family: 'Rajdhani';
	font-size: 48px;
}

.welcome-prompt-text {
	margin-top: 15px;
	color: gray;
}

main {
	box-sizing: border-box;
	padding: 50px;
}

mat-grid-list {
	margin-top: 20px;
}

.new-button {
	background-color: coral;
	color: white;
}

.company-button {
	min-width: 200px;
	height: 200px;
	box-shadow: 6px 6px 40px 0px rgba( 0, 0, 0, 0.1 ) !important;
}

.guest-content {
	min-height: 400px;
}

.guest-content-actions {
	margin-top: 30px;
}

.guest-content-register-button {
	margin-left: 30px;
}

footer {
	height: 100px;
	/* background-color: blanchedalmond; */
}

@media ( max-width: 576px ) {

	.title {
		font-size: 24px;
	}

	footer {
		height: 50px;
	}

}
