<div class="component stretch-horizontally-80 stretch-vertically-80">

	<mat-grid-list class="dashboard-grid stretch-horizontally"
			[cols]="( gridLayoutData | async )?.cols"
			[rowHeight]="( gridLayoutData | async )?.rowHeight"
			gutterSize="20px">

		<mat-grid-tile *ngFor="let consolePage of consolePages"
			(click)="goto( consolePage.link )">
			<button mat-raised-button
				class="dashboard-button mat-elevation-z2"
				color="primary">
				<div class="flex-vertical flex-center-center">
					<span class="key large-text"> {{ consolePage.name }} </span>
					<span *ngIf="consolePage.link === pages.photoLibrary" class="value small-text"> ( {{ photoCount | async }} photos ) </span>
				</div>
			</button>
		</mat-grid-tile>

	</mat-grid-list>

</div>
