/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
	user-select: none;
	background-color: #f5f5f5;
	background-color: #eeeeee;
	background-color: whitesmoke;
}

::selection {
	background-color: blanchedalmond;
}

.mat-snack-bar-container {
	background-color: khaki !important;
	color: black !important;
	border-radius: 3px !important;
	box-shadow: 0px 1px 4px 0 rgba( 0, 0, 0, 0.14) !important;
}

button.icon-button /deep/ mat-icon {
	line-height: 14px;
}

*[color="primary"] {
	color: #3f51b5;
}

*[color="accent"] {
	color: mediumseagreen;
}

*[bgColor="primary"] {
	background-color: #3f51b5;
}

*[bgColor="accent"] {
	background-color: mediumseagreen;
}

button.mat-button, button.mat-raised-button, button.mat-stroked-button {
	border-radius: 3px !important;
}
