@import '~@angular/material/_theming.scss';
@include mat-core();

$mat-mediumseagreen: (
    50 : #e8f6ee,
    100 : #c5e8d4,
    200 : #9ed9b8,
    300 : #77ca9c,
    400 : #59be86,
    500 : #3cb371,
    600 : #36ac69,
    700 : #2ea35e,
    800 : #279a54,
    900 : #1a8b42,
    A100 : #c3ffd6,
    A200 : #90ffb4,
    A400 : #5dff91,
    A700 : #43ff80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-theme-primary: mat-palette( $mat-indigo );
$custom-theme-accent:  mat-palette( $mat-mediumseagreen );
$custom-theme-warn: mat-palette( $mat-red );

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme( $custom-theme-primary, $custom-theme-accent, $custom-theme-warn );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme( $custom-theme );


$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(24px, 32px, 700),
  $body-1: mat-typography-level(13px, 16px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);


// #C9A690
