<div [class.overlay]="toolbarOpen"></div>
<mat-expansion-panel
	class="floating-box stretch-horizontally"
	hideToggle="true"
	[expanded]="toolbarOpen"
	(opened)="toolbarOpen = true"
	(closed)="toolbarOpen = false">

	<mat-expansion-panel-header [collapsedHeight]="( screenSize | async ) == 'xs' ? '40px' : '30px'">

		<mat-panel-title class="flex-space-between-center">
			<div class="left-section flex">
				<button mat-icon-button
					class="menu-button">
					<mat-icon> {{ toolbarOpen ? 'close' : 'menu' }} </mat-icon>
				</button>
				<!-- <div class="left-pad"></div> -->
			</div>
			<div class="title-section">
				<span class="title small-text"> {{ companyTitle | async }} </span>
			</div>
			<div class="right-section">
				<!-- <button mat-icon-button
					class="settings-button"
					(click)="goto( pages.settings ); $event.stopPropagation();">
					<mat-icon color="primary"> settings </mat-icon>
				</button> -->
				<button mat-icon-button
					class="profile-button"
					(click)="goto( pages.profile ); $event.stopPropagation();">
					<mat-icon color="primary"> account_circle </mat-icon>
				</button>
			</div>
		</mat-panel-title>

	</mat-expansion-panel-header>

	<div class="menu stretch flex flex-center-center"
		(click)="toolbarOpen = false">
		<div class="nav-link" (click)="goto( pages.photoLibrary )"> Media Library </div>
		<div class="nav-link" (click)="goto( pages.tag )"> Tags </div>
		<div class="nav-link" (click)="goto( pages.customization )"> Customization </div>
	</div>

</mat-expansion-panel>
